@tablet-min: 480px;
@font-title: 'Abril Fatface', cursive;
@font-body: 'Karma', serif;

.page{
    h1{
        font-family: @font-title;
        // position: sticky;
        // top: 0;
    }
    p{
        font-family: @font-body;
        text-align: left;
    }
}