@tablet-min: 480px;
@font-title: 'Abril Fatface', cursive;
@font-body: 'Karma', serif;

.page{
    h1{
        font-family: @font-title;
        color: green;
    }
    p{
        font-family: @font-body;
    }
}