.page {
  transition: 0.5s;
}
.page.active,
.page:hover {
  opacity: 1;
}
.page h1,
.page h2,
.page h3 {
  font-family: 'Abril Fatface', cursive;
}
.page h1 {
  text-align: center;
}
.page p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}
.page a {
  text-decoration: none;
  color: #249c92;
}
.page.landing {
  background: url("../assets/photos/IMG_4256.JPG");
  background-size: cover;
  background-position: 35%;
}
@media (min-width: 680px) {
  .page.landing {
    background-attachment: fixed;
  }
}
@media (max-width: 679px) {
  .page.landing .article {
    padding: 10px 20px 20px;
    background-image: linear-gradient(#ff000000, #00000080);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 65px 20px;
  }
}
@media (min-width: 680px) {
  .page.landing .article {
    max-width: 320px;
    margin: 50px 30px;
    padding: 30px;
    background: none;
    bottom: unset;
    font-size: 20px;
  }
}
.page.landing .article .landing-text p {
  text-align: center;
  margin-top: 30px;
}
.page.about {
  background-color: #76aac0;
}
.page.skills {
  background-color: #440166;
}
.page.work {
  background-color: #ff5f60;
}
.page.projects {
  background-color: #16271c;
}
.page iframe {
  height: 400px;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 12px 0px #00000040;
  background-color: #fff;
}
.page .article {
  padding: 10px 20px 80px;
  margin: 30px auto 0;
}
@media (min-width: 680px) {
  .page .article {
    padding: 60px 100px;
    max-width: 1100px;
  }
}
.page .text-group {
  margin-bottom: 50px;
}
.page .work .work-element {
  text-align: left;
  margin-bottom: 50px;
}
.page .imagePage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 680px) {
  .page .imagePage {
    background-attachment: fixed;
  }
}
.page .imagePage.pic1 {
  background-image: url("../assets/photos/DSC_0421.jpg");
}
.page .imagePage.pic2 {
  background-image: url("../assets/photos/DSC_0728.jpg");
  background-position: 75%;
}
.page .imagePage.pic3 {
  background-image: url("../assets/photos/DSC_0752.JPG");
  background-position: left;
}
.page .imagePage.pic4 {
  background-image: url("../assets/photos/DSC_0286.JPG");
  background-position: 30%;
}
