@tablet-min: 480px;
@desktop-min: 1200px;
@lighter: .5;
@font-title: 'Abril Fatface', cursive;
@font-body: 'Source Sans Pro', sans-serif;
@primary-col: #003135;
@secondary-col: #249c92;
@box-shadow: 5px 5px 12px 0px #00000040;

.page{

    transition: 0.5s;
    cursor: pointer;
    //opacity: 0.4;

    &.active, &:hover {
        opacity: 1;
    }
    

    h1, h2, h3 {
        font-family: @font-title;
        // position: sticky;
        // top: 0;
    }
    h1{
        text-align: center;
    }
    p{
        font-family: @font-body;
        text-align: left;
    }

    a{
        text-decoration: none;
        color: @secondary-col;
    }
    
    iframe{
        height: 400px;
        width: 90%;
        border: none;
        border-radius: 5px;
        margin: 5%;
        box-shadow: @box-shadow;
    }

    .text-group{
        margin-bottom: 50px;
    }


    .work{
        .work-element{
            text-align: left;
            margin-bottom: 50px;
        }
    }

}