.page {
  transition: 0.5s;
  cursor: pointer;
}
.page.active,
.page:hover {
  opacity: 1;
}
.page h1,
.page h2,
.page h3 {
  font-family: 'Abril Fatface', cursive;
}
.page h1 {
  text-align: center;
}
.page p {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}
.page .work .work-element {
  text-align: left;
}
.page .skills .skill-element {
  margin-bottom: 50px;
}
