.page {
  transition: 0.5s;
}
.page.active,
.page:hover {
  opacity: 1;
}
.page h1,
.page h2,
.page h3 {
  font-family: 'Gilda Display', serif;
}
.page h1 {
  text-align: center;
  font-size: 5rem;
}
.page p {
  font-family: 'Lexend', sans-serif;
  text-align: left;
}
.page a {
  color: #D2D1D4;
}
.page iframe,
.page img,
.page .video-react-poster {
  border-radius: 5px;
  box-shadow: 1px 3px 8px 0px #00000040;
}
.page .card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  max-width: 49%;
}
.page .card {
  border: 1px #D2D1D4 dashed;
  border-radius: 5px;
  padding: 10px 15px;
}
.page.landing {
  background: url("../assets/photos/IMG_4256.JPG");
  background-size: cover;
  background-position: 35% 20%;
  color: #fff;
  margin-top: 500px;
}
@media (min-width: 680px) {
  .page.landing {
    background-attachment: fixed;
  }
}
@media (max-width: 679px) {
  .page.landing .article {
    padding: 10px 20px 20px;
    background-image: linear-gradient(#ff000000, #00000080);
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 65px 20px;
  }
}
@media (min-width: 680px) {
  .page.landing .article {
    max-width: 320px;
    margin: 50px 30px;
    padding: 30px;
    background: none;
    bottom: unset;
    font-size: 20px;
  }
}
.page.landing .article .landing-text p {
  text-align: center;
  margin-top: 30px;
}
.page.about .profile-image {
  border-radius: 50%;
  border: 1px #D2D1D4 dashed;
  display: inline;
  float: right;
  width: 30%;
  padding: 10px;
  margin: 10px;
}
.page.projects .article .appSection {
  display: flex;
  margin-bottom: 50px;
  flex-wrap: nowrap;
  gap: 10px;
}
@media (max-width: 400px) {
  .page.projects .article .appSection {
    flex-wrap: wrap;
  }
}
.page.projects .article .appSection #expo-qr {
  width: 80%;
  max-width: 200px;
  min-width: 100px;
}
.page.projects .article .biancaVideos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.page .article {
  padding: 10px 20px 80px;
  margin: 30px auto 0;
}
@media (min-width: 680px) {
  .page .article {
    padding: 60px 100px;
    max-width: 1000px;
  }
}
.page .text-section {
  margin-bottom: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 15px;
}
.page .work .work-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
}
.page .work .work-tile-container .work-element {
  text-align: left;
  width: 49%;
}
.page .imagePage {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 10px #222125 solid;
  background-attachment: fixed;
}
@media (min-width: 680px) {
  .page .imagePage {
    background-attachment: fixed;
  }
}
.page .imagePage.pic1 {
  background-image: url("../assets/photos/DSC_0421.jpg");
}
.page .imagePage.pic2 {
  background-image: url("../assets/photos/DSC_0728.jpg");
  background-position: 75% 30%;
}
.page .imagePage.pic3 {
  background-image: url("../assets/photos/DSC_0752.JPG");
  background-position: left;
}
.page .imagePage.pic4 {
  background-image: url("../assets/photos/DSC_0286.JPG");
  background-position: 30%;
}
