html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: #003135;
  background-size: cover;
  display: flex;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
}
.frame .header {
  margin: 10px;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
  z-index: 1;
  position: relative;
}
@media (min-width: 480px) {
  .frame .header {
    width: calc(100vw - 20px);
  }
}
.frame .header span.title {
  opacity: 0.5;
}
.frame .header .contact-links {
  float: right;
  display: flex;
}
.frame .header .contact-links .link {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
  opacity: 0.5;
  transition: 0.2s;
}
.frame .header .contact-links .link.linkedin {
  background-image: url(../assets/linkedin-white.svg);
  background-size: 90%;
}
.frame .header .contact-links .link.github {
  background-image: url(../assets/github-white.svg);
  background-size: 90%;
}
.frame .header .contact-links .link.codepen {
  background-image: url(../assets/codepen-white.svg);
}
.frame .header .contact-links .link.email {
  background-image: url(../assets/envelope.svg);
}
.frame .header .contact-links .link:hover {
  width: 22px;
  height: 22px;
  opacity: 1;
}
.frame .page-map {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  overflow: scroll;
}
.frame .page-map .page {
  color: white;
  margin: 10px;
  padding: 30px;
}
@media (min-width: 680px) {
  .frame .page-map {
    width: 100vh;
    position: absolute;
    display: block;
    top: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    transform: rotate(-90deg);
    transform-origin: left top;
  }
  .frame .page-map .page {
    transform: rotate(90deg);
    height: 100vh;
    margin: 15vw 35px;
    padding: 15px;
    scroll-snap-align: center;
  }
  .frame .page-map::-webkit-scrollbar {
    width: 4px;
  }
  .frame .page-map::-webkit-scrollbar-thumb {
    background: #ffffff3d;
  }
}
