html {
  height: 100%;
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
body {
  background: #003135;
  background-size: cover;
  display: flex;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
h1,
h2,
h3 {
  font-family: 'Abril Fatface', cursive;
}
.frame .header {
  margin: 10px 10px 0;
  color: #fff;
  font-family: 'Abril Fatface', cursive;
}
@media (min-width: 480px) {
  .frame .header {
    margin: 20px 20px 0 20px;
  }
}
.frame .header span.title {
  opacity: 0.5;
}
.frame .header .contact-links {
  float: right;
  display: flex;
}
.frame .header .contact-links .link {
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
  opacity: 0.5;
  transition: 0.2s;
}
.frame .header .contact-links .link.linkedin {
  background-image: url(../assets/linkedin-white.svg);
  background-size: 90%;
}
.frame .header .contact-links .link.github {
  background-image: url(../assets/github-white.svg);
  background-size: 90%;
}
.frame .header .contact-links .link.codepen {
  background-image: url(../assets/codepen-white.svg);
}
.frame .header .contact-links .link.email {
  background-image: url(../assets/envelope.svg);
}
.frame .header .contact-links .link:hover {
  width: 22px;
  height: 22px;
  opacity: 1;
}
.frame .page-map-wrapper {
  width: 100vw;
}
.frame .page-map-wrapper .page-map {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: calc(100vh - 50px);
}
.frame .page-map-wrapper .page-map .page {
  color: white;
  border: 1px solid white;
  margin: 10px;
}
.frame .page-map-wrapper .page-map::-webkit-scrollbar {
  height: 2px;
}
.frame .page-map-wrapper .page-map::-webkit-scrollbar-thumb {
  background: #ffffff3d;
}
.frame .page-map-wrapper .page-map::-webkit-scrollbar-track {
  background: #ffffff12;
}
