//#517f8b <-so pretty
@tablet-min: 480px;
@desktop-min: 1200px;
@lighter: .5;
@font-title: 'Abril Fatface', cursive;
@font-body: 'Source Sans Pro', sans-serif;
@primary-col: #003135;
@secondary-col: #249c92;


html{
    height: 100%,
}


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    //background: linear-gradient(to bottom, #2b0a68, #0c031d);
    //background: @primary-col;
    //background-image: url("../assets/DSC_0239.JPG");
    background-size: cover;
    display: flex;
    margin: 0;

    font-family: @font-body;	
}

h1, h2, h3 {
    font-family: @font-title;
    // position: sticky;
    // top: 0;
}

.frame{
    background: @primary-col;

    .header{
        padding: 10px 10px 0;
        color: #fff;
        font-family: @font-title;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;

        @media(min-width: @tablet-min){
            padding: 20px 20px 0 20px;
        }
        span.title {
            opacity: @lighter;
            cursor: pointer;
            transition: 0.3s;

            &:hover{
                opacity: 1;
                font-size: 17px;
            }
        }

        .contact-links{
            float: right;
            display: flex;

            .link{
                width: 20px;
                height: 20px;
                display: inline-block;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 20px;
                opacity: @lighter;
                transition: 0.2s;

                &.linkedin{
                    background-image: url(../assets/linkedin-white.svg);
                    background-size: 90%;
                }

                &.github{
                    background-image: url(../assets/github-white.svg);
                    background-size: 90%;
                }

                &.codepen{
                    background-image: url(../assets/codepen-white.svg);
                }

                &.email{
                    background-image: url(../assets/envelope.svg);
                }

                &:hover{
                    width: 22px;
                    height: 22px;

                    opacity: 1;
                }

            }
        }
    }
    
    .page-map-wrapper {
        width: 100vw;
    
        .page-map {
            display: flex;
            overflow-x: overlay;
            scroll-snap-type: x mandatory;
            scroll-behavior: smooth;
            -webkit-overflow-scrolling: touch;

            @media (min-width: @tablet-min){
                padding: 0;
            }
    
            .page {
                scroll-snap-align: start;
                flex-shrink: 0;
                width: 100%;
                height: 100vh;
                color: #ffffff;
                position: relative;
                overflow-y: scroll;
                cursor: pointer;
                transition: 0.3s;

                &.page-text{
                    width: 90%;
                    max-width: 900px;

                    @media(min-width: @tablet-min){
                        width: 80%;
    
                    }
                }

                // &.hoverLeft{
                //     width: 85%;
                //     transform: translate(-100px);
                // }

                // &.hoverRight{
                //     width: 85%;
                // }

                
            }
            
        }
        .page-map::-webkit-scrollbar {
            height: 5px;
        }
        .page-map::-webkit-scrollbar-thumb {
            background: #ffffff3d;
        }
        .page-map::-webkit-scrollbar-track {
            background: #ffffff12;
        }
    
    }
    
    .navigation{
        cursor: pointer;
        color: #fff;
        text-align: center;
        font-size: 30px;

        .nav-left, .nav-right{
            position: absolute;
            width: 75px;
            height: 80vh;
            line-height: 80vh;
            top: 60px;
            transition: .3s;
            opacity: @lighter;

            &:hover{
                opacity: 1;
            }
        }
        .nav-left{
            left: 0;
        }
        .nav-right{
            right: 0;
        }
        .nav-bottom{
            height: 30px;
            position: absolute;
            width: 100vw;
            bottom: 0;
            background-color: rgba(202, 123, 255, 0.507);
        }
        
    }

}

