
@tablet-min: 480px;
@desktop-min: 1200px;
@lighter: .5;
@font-title: 'Abril Fatface', cursive;
@font-body: 'Source Sans Pro', sans-serif;
@primary-col: #003135;
@secondary-col: #249c92;

html{
    height: 100%,
}


* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    //background: linear-gradient(to bottom, #2b0a68, #0c031d);
    background: @primary-col;
    //background-image: url("../assets/DSC_0239.JPG");
    background-size: cover;
    display: flex;
    margin: 0;

    font-family: @font-body;
}

h1, h2, h3 {
    font-family: @font-title;
    // position: sticky;
    // top: 0;
}

.frame{

    .header{
        margin: 10px;
        color: #fff;
        font-family: @font-title;    
        z-index: 1;
        position: relative;

        @media(min-width: @tablet-min){
            width: calc(100vw - 20px);
        }
        span.title {
            opacity: @lighter;
        }

        .contact-links{
            float: right;
            display: flex;

            .link{
                width: 20px;
                height: 20px;
                display: inline-block;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                margin-left: 20px;
                opacity: @lighter;
                transition: 0.2s;

                &.linkedin{
                    background-image: url(../assets/linkedin-white.svg);
                    background-size: 90%;
                }

                &.github{
                    background-image: url(../assets/github-white.svg);
                    background-size: 90%;
                }

                &.codepen{
                    background-image: url(../assets/codepen-white.svg);
                }

                &.email{
                    background-image: url(../assets/envelope.svg);
                }

                &:hover{
                    width: 22px;
                    height: 22px;

                    opacity: 1;
                }

            }
        }
    }
    


    .page-map {
        display: flex;
        flex-direction: column;
        //background-color: #284a5f;
        height: calc(100vh - 40px);
        overflow: scroll;

        .page {
            color: white;
            //border: 1px solid white;
            margin: 10px;
            padding:30px;


        }
        
    }

    @media(min-width: 680px){
        .page-map {
            //display: flex;
            //overflow: scroll;
            //width: calc(100vh - 50px);
            width: 100vh;
            position:absolute;
            display:block;
            top: 100vh;
            //left: 150px;
            height: 100vw;
    
            overflow-y:auto;
            overflow-x:hidden;
            transform: rotate(-90deg);
            transform-origin: left top;
    
    
            .page {
                transform:rotate(90deg);
                //overflow: scroll; DONT DELETE
                height: 100vh;
                margin: 15vw 35px;
                padding: 15px;
                scroll-snap-align: center;
                //transform-origin: left top;
            }
            
        }
        .page-map::-webkit-scrollbar {
            width: 4px;
        }
        .page-map::-webkit-scrollbar-thumb {
            background: #ffffff3d;
        }
    }
    

}



